version: 2
updates:
  # Enable version updates for npm (contracts)
  - package-ecosystem: "npm"
    directory: "/contracts"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
      - "contracts"

  # Enable version updates for npm (website)
  - package-ecosystem: "npm"
    directory: "/bnb-risklens-website"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
      - "website"

  # Enable version updates for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "github-actions"
